.button {
	background-color: black;
	margin: 0px;
	color: white;
	width: 23.6%;
	height: 100px;
	font-size: 20px;
	padding:0px;
}

h1 {
	text-align: center;
	color:black;
}

.halfButton {
	background-color: black;
	margin: 0px;
	color: white;
	width: 11.6%;
	height: 100px;
	font-size: 20px;
	padding:0px;
}

.r2col1, .r2col3 {
	background-color: black;
	width:40.6%;
	border:2px solid grey;
	height:97px;
	float:left;
	color:white;
	font-weight: bold;
	text-align: center;
	font-size: 2em
}

.r2col2 {
	width: 14.8%;
	border:1px;
	height:98px;
	float:left;
	text-align: center;
	font-weight: bold;
	font-size: 1.3em


}

#areaMain {
	width: 96%;
}

.row, .col {
	margin:0px;
	width:100%;
}