img {max-height: 200px;
	width:100%;
	border-radius:10px;
}

sub {
	color:yellow;
}

div.heightMax {
	height: 460px;
}

.degrees {
	transform: rotate(180deg);
}

#fixedheader {
	position: fixed;
	background-color: #2b3e50;
	z-index:1;
	width:100%;
}

#contentarea {
	position:relative;
	padding-top: 140px;
}

#quotePadding {
	padding-left:10px;
	padding-right: 10px;
}

